<nav>
    <ul>
        <li><a href="{% url 'home' %}">Bosh Sahifa</a></li>
        <li><a href="{% url 'news:category' category='Mahalliy' %}">Mahalliy</a></li>
        <li><a href="{% url 'news:category' category='Jahon' %}">Jahon</a></li>
        <li><a href="{% url 'news:category' category='Sport' %}">Sport</a></li>
        <li><a href="{% url 'news:category' category='Texnologiya' %}">Texnologiya</a></li>
        <li><a href="{% url 'news:create' %}">Yangilik Qo'shish</a></li>
    </ul>
</nav>
