<nav>
    <ul>
        <li><a href="{% url 'home' %}">Bosh Sahifa</a></li>
        <li><a href="{% url 'news:category' category='mahalliy' %}">Mahalliy</a></li>
        <li><a href="{% url 'news:category' category='jahon' %}">Jahon</a></li>
        <li><a href="{% url 'news:category' category='sport' %}">Sport</a></li>
        <li><a href="{% url 'news:category' category='texnologiya' %}">Texnologiya</a></li>
        <li><a href="{% url 'news:create' %}">Yangilik Qo'shish</a></li>
    </ul>
</nav>
